<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>ProblemInstance</th>
        <th>Best Rating</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament_run in tournament_runs %}
        <tr>
            <td>{{ tournament_run.id }}</td>
            <td>{{ tournament_run.problemInstance }}</td>
            <td>{{ tournament_run.bestRating }}</td>
            <td>
                <a href="{{ path('evolutionary_algorithm_tournament_run_show', {'id': tournament_run.id}) }}">show</a>
                <a href="{{ path('evolutionary_algorithm_tournament_run_edit', {'id': tournament_run.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>