{% extends 'base.html.twig' %}

{% block title %}TournamentConfiguration index{% endblock %}

{% block body %}
    <h1>TournamentConfiguration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>SerializedConfiguration</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament_configuration in tournament_configurations %}
            <tr>
                <td>{{ tournament_configuration.serializedConfiguration }}</td>
                <td>{{ tournament_configuration.id }}</td>
                <td>
                    <a href="{{ path('app_tournament_configuration_show', {'id': tournament_configuration.id}) }}">show</a>
                    <a href="{{ path('app_tournament_configuration_edit', {'id': tournament_configuration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tournament_configuration_new') }}">Create new</a>
{% endblock %}
