{% extends 'base.html.twig' %}

{% block title %}TournamentConfiguration{% endblock %}

{% block main %}
    <h1>TournamentConfiguration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>SerializedConfiguration</th>
                <td>{{ tournament_configuration.serializedConfiguration }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ tournament_configuration.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evolutionary_algorithm_tournament_configuration_index') }}">back to list</a>

    <a href="{{ path('evolutionary_algorithm_tournament_configuration_edit', {'id': tournament_configuration.id}) }}">edit</a>

    {{ include('@EvolutionaryAlgorithm/tournament_configuration/_delete_form.html.twig') }}
{% endblock %}
