{% extends 'base.html.twig' %}
{% trans_default_domain 'EvolutionaryAlgorithmBundle' %}
{% block title %}ProblemInstance index{% endblock %}

{% block main %}
    <h1>ProblemInstance index</h1>
    <p>{{ 'problem_instance.index.help_text'|trans }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for problem_instance in problem_instances %}
            <tr>
                <td>{{ problem_instance.id }}</td>
                <td>
                    <a href="{{ path('evolutionary_algorithm_problem_instance_show', {'id': problem_instance.id}) }}">show</a>
                    <a href="{{ path('evolutionary_algorithm_problem_instance_edit', {'id': problem_instance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evolutionary_algorithm_problem_instance_new') }}">Create new</a>
{% endblock %}
