{% extends 'base.html.twig' %}
{% trans_default_domain 'EvolutionaryAlgorithmBundle' %}
{% block title %}Problem index{% endblock %}

{% block main %}
    <h1>Problem index</h1>
    <p>{{ 'problem.index.help_text'|trans }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>InstanceClass</th>
                <th>Description</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for problem in problems %}
            <tr>
                <td>{{ problem.name }}</td>
                <td>{{ problem.instanceClass|striptags|replace({'\\': '\\ <br>'})|raw }}</td>
                <td>{{ problem.description }}</td>
                <td>{{ problem.id }}</td>
                <td>
                    <a href="{{ path('evolutionary_algorithm_problem_show', {'id': problem.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evolutionary_algorithm_problem_new') }}">Create new</a>
{% endblock %}
