{% extends 'base.html.twig' %}

{% block title %}Problem{% endblock %}

{% block body %}
    <h1>Problem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ problem.name }}</td>
            </tr>
            <tr>
                <th>InstanceClass</th>
                <td>{{ problem.instanceClass }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ problem.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ problem.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evolutionary_algorithm_problem_index') }}">back to list</a>

    <a href="{{ path('evolutionary_algorithm_problem_edit', {'id': problem.id}) }}">edit</a>

    {{ include('problem/_delete_form.html.twig') }}
{% endblock %}
