{% extends 'base.html.twig' %}
{% trans_default_domain 'EvolutionaryAlgorithmBundle' %}
{% block title %}TournamentType index{% endblock %}

{% block body %}
    <h1>TournamentType index</h1>
    <p>{{ 'tournament_type.index.help_text'|trans }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>InstanceClass</th>
                <th>Description</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament_type in tournament_types %}
            <tr>
                <td>{{ tournament_type.name }}</td>
                <td>{{ tournament_type.instanceClass|striptags|replace({'\\': '\\ <br>'})|raw  }}</td>
                <td>{{ tournament_type.description }}</td>
                <td>{{ tournament_type.id }}</td>
                <td>
                    <a href="{{ path('evolutionary_algorithm_tournament_type_show', {'id': tournament_type.id}) }}">show</a>
                    <a href="{{ path('evolutionary_algorithm_tournament_type_edit', {'id': tournament_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evolutionary_algorithm_tournament_type_new') }}">Create new</a>
{% endblock %}
