{% extends 'base.html.twig' %}

{% block title %}TournamentType{% endblock %}

{% block body %}
    <h1>TournamentType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ tournament_type.name }}</td>
            </tr>
            <tr>
                <th>InstanceClass</th>
                <td>{{ tournament_type.instanceClass }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tournament_type.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ tournament_type.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tournament_type_index') }}">back to list</a>

    <a href="{{ path('app_tournament_type_edit', {'id': tournament_type.id}) }}">edit</a>

    {{ include('@EvolutionaryAlgorithm/tournament_type/_delete_form.html.twig') }}
{% endblock %}
